@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

// HEADER
header.main {
  padding-top: 1em;
  h2 {
    color: $light-green;
    letter-spacing: -2px;
    & strong{
      color: $light-gray;
    }
  }
  @include outer-container;
  .title{
    @include span-columns(6);
  }
  .links {
    @include span-columns(6);
    @include omega();
    margin-top: 16px;
    ul {
      float: right;
      li {
        display: inline;
        margin: 0px 10px;
      }
    }
  }
  img {
    margin-top: 1em;
  }
  @include media($mobile) {
    .title{
      @include span-columns(12);
    }
    .links {
      @include span-columns(12);
      @include omega();
      margin-top: 0;
      ul {
        float: left;
        li:first-child{
          margin-left: 0;
        }
      }
    }
  }
}

.main-container{
  @include outer-container;
  margin-top: 1em;
  article {
    @include span-columns(12);
    border-bottom: 2px solid $light-gray;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    .date{
      color: darken($light-gray, 40);
      float: right;
    }
  }
}

footer.footer {
  @include outer-container;
  .resource {
    margin-bottom: 1em;
    ul li {
      display: inline-block;
      margin: 0 .5em;
    }
  }
}
