@import "settings"; 
@import "foundation.scss";

body>header{
  height: 15%;
  padding-top: 60px;
  h3{
    color: $secondary-color;
  }
  ul.social li{
    display: inline-block;
    margin: 0 5px;
    i{
      font-size: 25px;
    }
  } 
}
strong, b{
  color: darken(#9ea7b1, 30%);
}
.presentation{
  margin-bottom: 100px;
  p{
    text-align: justify;
  }
  .blog-arrow{
    text-align: center;
    margin-top: 100px;
    i{
      font-size:40px;
    }
  }
}
.blog{
  code{
    color: #26ae90;
  }
  .post{
    border-top: 1px solid #dfe2e6;
    margin-top: 30px;
    padding-top: 30px;
  }
  .single-article{
    header{
      margin-bottom: 20px;
      .date{
        font-style: italic;
      }
    }
    h2{
      font-size: 20px;
    }
    h3{
      font-size: 18px;
    }
  }
}
.division{
  border-top: 1px solid #dfe2e6; 
}
.pre-footer{
  margin-top: 50px;
}
body>footer{
  margin: 20px 0 10px 0;
  padding-top: 20px;
  ul{
    margin-left: 0;
    li{
      list-style: none;
      line-height: 16px;
      font-size: .9em;
    }
  }
}