---
title: About CodingNews.info
---

<header class="article">
  <h2>Tales from a fellowship</h2>
</header>
<article class="post">
  <p>
    Hi! My name is Marcos Vanetta, I've been selected as a Knight Mozilla Fellow 2014 and I'll be working at the Texas Tribune all over the year. I opened this blog to share my experiences, discuss about Data Journalism, Open Source and some technical stuff.
  </p>
  <a href="/">Go back</a>
</article>
<hr>
