---
title: Slides!
layout: empty
---
<div class="row presentation">
  <div class="small-11 small-centered large-8 large-centered columns">
    <h2>Hi!</h2>
    <p>My name is Marcos Vanetta and I've been talking about data journalist and stuff, here are my slides.</p>
    <ul>
      <li><a href="http://talks.codingnews.info/texastribune.html">TheTexasTribune - Cómo trabajamos?</a></li>
      <li><a href="http://talks.codingnews.info/piratebox_hands_on.html">PirateBox - Hands on!</a></li>
      <li><a href="http://talks.codingnews.info/experiencias_de_un_desarrollo.html">Mapa76: experiencia de un desarrollo open source</a></li>
    </ul>
    <p>Go back to the <a href="/">Blog</a>.</p>
  </div>
</div>
