---
title: malev's talks!
---

<header class="article">
  <h2>Hi!</h2>
</header>
<article class="post">
  <p>
    My name is Marcos Vanetta and I've been talking about data journalist, coding and stuff, here are my slides:
  </p>
  <ul>
    <li><a href="/slides/data-cleaning.html">Limpieza de datos - DataBootCamp (Mex - 2014)</a></li>
    <li><a href="/slides/data-extraction.html">Extracción de datos - DataBootCamp (Mex - 2014)</a></li>
    <li><a href="/slides/texastribune.html">TheTexasTribune - Cómo trabajamos?</a></li>
    <li><a href="/slides/piratebox_hands_on.html">PirateBox - Hands on!</a></li>
    <li><a href="/slides/experiencias_de_un_desarrollo.html">Mapa76: experiencia de un desarrollo open source</a></li>
  </ul>
  <br>
  <p>Go back to the <a href="/">Blog</a>.</p>
</article>
<hr>
